---
import DownloadButton from './DownloadButton.astro';

type Download = {
  title: string;
  href: string;
};

const { download, repository, privacypolicy, termsandconditions } = Astro.props as {
  download: Download[] | string;
  repository: string;
  privacypolicy?: string;
  termsandconditions?: string;
};
---

<section class="m-auto flex gap-2 items-center w-full whitespace-nowrap my-4">
  {
    download && typeof download == 'string' ? (
      <a
        target="_blank"
        href={download}
        class="group flex items-center justify-center no-underline hover:bg-green-200 rounded p-2 px-4 h-20 w-48 transition-all"
      >
        {/*
        <span class="flex items-center justify-center gap-2 text-2xl font-black">
          <span class="material-symbols-outlined text-2xl group-hover:font-black transition-all bg-green-400 rounded-full h-8 w-8 text-center flex justify-center items-center">
            download
          </span>
          Download
        </span>*/}
        <DownloadButton />
      </a>
    ) : (
      typeof download === 'object' && (
        <div class="relative group flex flex-col transition-all w-48">
          <DownloadButton />
          <ul class="absolute -top-1 z-20 rounded w-full transition-all bg-green-200 dark:bg-green-500 opacity-0 group-focus-within:opacity-100 flex-col duration-300 pointer-events-none group-focus-within:pointer-events-auto group-focus-within:top-24">
            {download.map((download, i) => (
              <li class="w-full text-center flex">
                <a
                  href={download.href}
                  data-sal="slide-up"
                  data-sal-delay={50 + i * 50}
                  target="_blank"
                  class="w-full flex rounded no-underline justify-center text-center py-4 hover:bg-green-300 dark:hover:bg-green-800 transition-all hover:font-black"
                >
                  {download.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    )
  }

  {
    repository && (
      <a
        target="_blank"
        href={repository}
        class="group flex items-center no-underline justify-center hover:bg-yellow-200 dark:hover:bg-yellow-500 rounded p-2 px-4 h-20 w-48 transition-all hover:-translate-y-1"
      >
        <span class="flex items-center justify-center gap-2 text-2xl font-black">
          <span class="text-2xl group-hover:font-black transition-all bg-yellow-400 dark:bg-yellow-600 rounded-full h-8 w-8 text-center flex justify-center items-center">
          <img src="/img/icons/code.svg" alt="" />
      </span>
          Repository
        </span>
      </a>
    )
  }

  {
    privacypolicy && (
      <a
        target="_blank"
        href={privacypolicy}
        class="group flex items-center no-underline justify-center hover:bg-red-200 dark:hover:bg-red-500 rounded p-2 px-4 h-20 w-58 transition-all hover:-translate-y-1"
      >
        <span class="flex items-center justify-center gap-2 text-2xl font-black">
          <span class="text-2xl group-hover:font-black transition-all bg-red-400 dark:bg-red-600 rounded-full h-8 w-8 text-center flex justify-center items-center">
          <img src="/img/icons/policy.svg" alt="" />
          </span>
          Privacy Policy
        </span>
      </a>
    )
  }

  {
    termsandconditions && (
      <a
        target="_blank"
        href={termsandconditions}
        class="group flex items-center no-underline justify-center hover:bg-fuchsia-200 dark:hover:bg-fuchsia-500 rounded p-2 px-4 h-20 w-84 transition-all hover:-translate-y-1"
      >
        <span class="flex items-center justify-center gap-2 text-2xl font-black">
          <span class="text-2xl group-hover:font-black transition-all bg-fuchsia-400 dark:bg-fuchsia-600 rounded-full h-8 w-8 text-center flex justify-center items-center">
          <img src="/img/icons/gavel.svg" alt="" />
          </span>
          Terms And Conditions
        </span>
      </a>
    )
  }
</section>
